body {
	background-image: url(../images/chopper2.jpg);
}

img {
	max-width: 100pt;
	max-height: 100pt;
	margin: auto;
	float: right;
}

.row {
	padding: 5pt;
}
.panel-default {
	background-color: #000000;
	color: #ffa70a;
	padding: 10pt;
}

.panel-title {
	text-align: center;
	font-size: 25pt;
	font-weight: bolder;
}

.jumbotron {
	background-color: #000000;
	color: #ffa70a;
	padding: 10pt;
	font-size: 25pt;
	text-align: center;
}

.h2 {
	text-align: center;
	font-size: 10pt;
	background-color: #000000;
	color: #ffa70a;
	padding: 10pt;
}

.list-group-item {
	background-color: #000000;
	color: #ffa70a;
	padding: 10pt;
	font-size: 25pt;
}

